#block-yui_3_17_2_3_1500835633766_27678{
  .slide .image-slide-anchor{
    transition: filter .2s ease;
  }
.slide:hover .image-slide-anchor{
   filter: grayscale(100%) brightness(70%);
  -webkit-filter: grayscale(100%) brightness(70%);
}

.slide .image-slide-title{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: #ffffff;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .2s ease;
}

  .slide:hover .image-slide-title{
    opacity: 1;
  }
}
