
body.tweak-header-secondary-nav-inherit-styles .Header-nav--secondary .Header-nav-item[href="/contact/"]{
  border: 1px solid #000;
  display: inline-block;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}


.Header-nav-item[href="/contact/"]{
  border: 1px solid #000;
  display: inline-block;
  border-radius: 10px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
